<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" href="../static/styles.css">
    <title>Editar Task</title>
</head>

<body>
    <header>
        <div class="container_titulo">
            <h1>TaskFlow</h1>
        </div>
    </header>

    <main>
        <div class="container_tarefas">
            <div class="container_itens">
                <div class="titulo_tarefas">
                    <h2>Editar Task</h2>
                </div>
                <form action="{{ url_for('edit_task', id=task['id']) }}" method="POST">
                    <input type="text" name="titulo" value="{{ task['titulo'] }}" required>
                    <textarea name="descricao" required>{{ task['descricao'] }}</textarea>
                    <select name="status" required>
                        <option value="Pendente" {% if task['status'] == 'Pendente' %}selected{% endif %}>Pendente</option>
                        <option value="Em andamento" {% if task['status'] == 'Em andamento' %}selected{% endif %}>Em andamento</option>
                        <option value="Concluída" {% if task['status'] == 'Concluída' %}selected{% endif %}>Concluída</option>
                    </select>
                    <input type="date" name="prazo_entrega" value="{{ task['prazo_entrega'] }}">
                    <button type="submit" aria-label="Atualizar Tarefa">Atualizar Tarefa</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 TaskFlow. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
